.login-form-username h4 {
  text-align: center;
  color: var(--gray-gray-500, #282739);
}
.btn-form, .btn-repass{
    width: 100%;
    padding-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-form-border, .btn-form-filled{
    padding: 12px;
}
.forgetpass-right{
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
}