button.btn-form-add {
  width: 147px;

  display: flex;
  height: 48px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--orange-orange-400, #ff9138);
  /* down */
  box-shadow: 0px 0px 6px 0px #e7e9f2;
  border: none;
  color: #fff;
}
button.btn-form-cancel {
  width: 147px;
  display: flex;
  height: 48px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--orange-orange-50, #fff2e7);
  /* down */
  box-shadow: 0px 0px 6px 0px #e7e9f2;
  border: 1.5px solid var(--orange-orange-400, #ff9138);
  color: var(--orange-orange-400, #ff9138);
}
