* {
  margin: 0;
  padding: 0;
}
.sidebar {
  padding: 10px 0;
  background-color: #fff;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease;
}

.sidebar-open {
  width: 200px;
}
@media (min-width: 1024px) {
  .sidebar {
    width: 257px;
  }
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.sidebar-title {
  width: 80px;
  height: 64px;
  background-color: #fff;
  border-radius: 50%;
}

.sidebar-title img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.nav-links {
  gap: 12px;
}

.nav-link {
  stroke: #fff;
  text-decoration: none;
  color: inherit;
  width: 220px;
  height: 48px;
  background: #fff;
  color: #7e7d88;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.nav-item {
  width: 220px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  stroke: #7e7d88;
  color: #7e7d88;
  font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; 
}

.nav-item:hover {
  width: 220px;
  height: 48px;
  background: var(--orange-orange-50, #fff2e7);
  color: var(--orange-orange-500, #ff7506);
  stroke: var(--orange-orange-500, #ff7506);
}
.nav-link.active .nav-item,
.nav-item.active-item {
  width: 220px;
  height: 48px;

  background: var(--orange-orange-500, #ff7506);
  color: #fff;
  stroke: #fff;
}
.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}
.logo img {
  width: 100%;
}
.social-icons {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
.social-icons a {
  margin-left: 10px;
  text-decoration: none;
}
.nav-item-container {
  position: relative;
  padding: 10px 0;
}
.sidebar_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}


